$color-primary-pink: #FF3998;
$color-secondary-dark:  #111111;
$color-paragraph: #555555;
$color-orange: #FF8139
$color-title-orange: #f3b562;
$color-footer-darker: #999999;
$color-black: black;
$color-white: white;
$color-dark: rgb(44, 44, 44);

// variables.$color-primary-pink;
// variables.$color-secondary-dark;
// variables.$color-paragraph;
// variables.$color-orange;
// variables.$color-footer-darker;
// variables.$color-black;
// variables.$color-white;
// variables.$color-dark;
